# Java / Maven
target/
*.class
.mvn/
.idea/

.claude/
backend/*.log
# React / Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db
.vscode/

# Uploads generados
backend/src/uploads/
backend/src/src/uploads/
